@model System.Uri
@{
    ViewData["Title"] = "Index";
}
<div id="form990">


    <select data-bind="options: Organizations,
        optionsText: 'name',
        optionsValue: 'id',
        value: SelectedId"></select>
    <div class="box-content box-table">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Income</th>
                    <th>As of Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Income">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Amount"></td>
                    <td data-bind="text: AsOfDate"></td>
                </tr>
            </tbody>
         
        </table>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Revenue</th>
                    <th>As of Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Revenue">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Amount"></td>
                    <td data-bind="text: AsOfDate"></td>
                </tr>
            </tbody>

        </table>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Assets</th>
                    <th>As of Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Assets">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Amount"></td>
                    <td data-bind="text: AsOfDate"></td>
                </tr>
            </tbody>

        </table>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Income/Assets</th>
                    <th>As of Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: IncomeOverAssets">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Amount"></td>
                    <td data-bind="text: AsOfDate"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript">
            var serviceLocation = '@Model.ToString()';
    </script>
    <script type="text/javascript" src="~/js/Form990Services.js"></script>
    <script type="text/javascript" src="~/js/Form990ViewModel.js"></script>
    
}
