<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="https://stratml.documents.azure.com:443/"/>
    <add key="Key" value="NJabTqrkKdTwTByDcuSbaVCfUzDMmWaEvhjpHr4NxNa5ngvPqKFjU0mTtHgPiyVBizbibWk9n8r1pXxiCsmaNA=="/>
    <add key="Database" value="Lind-I"/>
    <add key="Collection" value="Two"/>
    <add key="file" value="eo1.csv"/>
    <add key="connectionString" value="Endpoint=sb://stratml.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=VsGdifu7wtG1xIGNkqvFQMe9af4t91ou0AbomJOL1A4="/>
    <add key="queueName" value="irs990urls"/>
  </appSettings>
</configuration>