@model StratML.Core.ThreeFive.Individual
<div class="span4">
<div class="box">
    <div class="box-header">
        <i class="icon-user"></i>
        <h5>@Model.Surname, @Model.GivenName</h5>
    </div>
    <div class="box-content">
        @if (Model.Role != null)
        {
        <h6>Roles</h6>
        <ul>
            @foreach (var role in Model.Role)
            {
            @Html.Partial("_Role", role);
            }
        </ul>
        }
    </div>
</div>
</div>

