@model StratML.Core.ThreeFive.Individual
@{ 
    var instanceGuid = Guid.NewGuid();
}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="well" id="_@instanceGuid.ToString()">
		<i class="fa fa-user"></i>
		<h5>@Model.Surname, @Model.GivenName</h5>
		@if (Model.Role != null)
		{
			<h6>Roles</h6>
			<ul>
				@foreach (var role in Model.Role)
				{
					@Html.Partial("_Role", role);
				}
			</ul>
		}
	</div>
</div>








